<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Kullanıcılar</th>
                        <th>Filmler</th>
                        <th>Yorumlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kullanıcı 1</td>
                        <td>Film 1</td>
                        <td>Yorum 1</td>
                    </tr>
                    <tr>
                        <td>Kullanıcı 2</td>
                        <td>Film 2</td>
                        <td>Yorum 2</td>
                    </tr>
                    <tr>
                        <td>Kullanıcı 3</td>
                        <td>Film 3</td>
                        <td>Yorum 3</td>
                    </tr>
                    <!-- Buraya daha fazla kullanıcı, film ve yorum eklenebilir -->
                </tbody>
            </table>

        </div>
    </div>
</div>