 <ul class="nav nav-tabs nav nav-pills nav-justified" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">Kullanıcı</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">Yapımcı</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="tab1">
        Kullanıcı verileri görüntülenmektedir.

        <table class="table table-hover no-margins">
    <thead>
        <tr>
            <th>Kullanıcı</th>
            <th>Film</th>
            <th>Yorum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kullanıcı 1</td>
            <td>Film adı</td>
            <td>Yorum</td>
        </tr>
        <tr>
            <td>Kullanıcı 2</td>
            <td>Film adı</td>
            <td>Yorum</td>
        </tr>
        <tr>
            <td>Kullanıcı 3</td>
            <td>Film adı</td>
            <td>Yorum</td>
        </tr>
    </tbody>
       </table>
    </div>
    <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="tab2">
        Yapımcı verileri görüntülenmektedir.

        <table class="table table-hover no-margins">
    <thead>
        <tr>
            <th>Yapımcı</th>
            <th>Film</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Yapımcı 1</td>
            <td>Movie name</td>
        </tr>
        <tr>
            <td>Yapımcı 2</td>
            <td>Movie name</td>
        </tr>
    </tbody>
       </table>
        </div>
  </div>

 






