.btn-primary {
  
    color: white;
    transition: all 0.1s ease-in-out;

}

.nav-pills li a:hover{
    color:white;
}
.nav-pills li a {
    transition: all 0.1s ease-in-out;
}
    .nav-pills li a:hover {
        background-color: #2781ff73 !important;
        transition: all 0.1s ease-in-out;
    }
.personaldata p, .personaldata div{
    color:#0d0d0d !important;
}