@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



.profileImage {
    width: 50px;
    height: 50px;
}

    .profileImage img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner_taital {
    width: 100%;
    margin: 0 auto;
    font-size: 100px;
    color: #000;
    line-height: 90px;
    padding-top: 20px;
    font-family: 'Great Vibes', cursive;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 20px 0px;
}

.read_bt {
    width: 170px;
    float: left;
    padding-top: 30px;
}

    .read_bt a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        background-color: #252525;
        text-align: center;
        padding: 10px 0px;
        border-radius: 5px;
        text-transform: uppercase;
    }



.product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #232322;
    font-weight: bold;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #1a1c1b;
    font-weight: 600;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.image_1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 200px;
}

.btn_main {
    width: 100%;
    display: flex;
    background-color: #333333;
    height: auto;
    padding: 20px 10px 13px 10px;
}

.buy_bt {
    float: left;
    width: 100%;
}

    .buy_bt ul {
        margin: 0px;
        padding: 0px;
    }

    .buy_bt li a {
        float: left;
        font-size: 12px;
        color: #252525;
        padding: 5px 10px;
        background-color: white;
        text-transform: uppercase;
        margin-right: 5px;
        border-radius: 40px;
    }



    .buy_bt li.active a {
        background-color: #f5ddb6;
        color: #fff;
    }

.price_text {
    font-size: 16px;
    color: #fefefd;
    width: 42%;
    padding-top: 5px;
    text-align: right;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 60px;
}

    .seemore_bt a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        background-color: #333333;
        text-align: center;
        padding: 10px 0px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

        .seemore_bt a:hover {
            color: #ffffff;
            background-color: dimgrey;
        }

.navbar {
    background-color: #1c1c1c !important;
    color: white !important;
}

.navbar-light {
    color: white !important;
}

    .navbar-light .navbar-brand {
        color: #e50914 !important;
        font-size: 25px !important;
        border-radius: 30px;
        padding: 8px;
    }

        .navbar-light .navbar-brand :hover {
            color: #E50914 !important;
        }

.navbar-nav li a, button {
    color: white !important;
}

.nav-link {
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

.addmovie-form label{
    color: white;
}

#movieGenreSelect {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#registerSubmit {
    background-color: #E50914 !important;
}

#login-submit {
    background-color: #E50914 !important;
}

/*a {
    color: #E50914 !important;
}*/

.active {
    color: black;
}


body {
    background-color: #1c1c1c !important;
}

.sidebar {
    top: 0;
    left: 0;
    background-color: #1c1c1c !important;
    box-sizing: border-box;
}

#myCarousel {
    border: 1px solid #282828;
    border-radius: 30px;
    box-shadow: 0 0 10px #282828;
}
.crsImg img {
    border-radius: 30px;
}

.sidebar .list-group-item {

    transition: all 0.1s ease-in-out;
 
}

.sidecheck{
    color: rgb(129,129,129);
    font-size:18px;
    margin-left:20px;
}
.sidecheck .form-check{
    margin-bottom:8px !important;
   
}

.sidebar h5 {
    padding: 10px;
    margin-bottom: 0;
    font-size:20px;
    border-bottom: 1px solid #2f2f2f;
}


.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-item {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1c1c1c !important;
}

.sidebar ul .list-group-item:hover {
    background-color: #282828 !important;
    cursor: pointer;

}

.sidebar ul .list-group-item a {
    color: rgb(129, 129, 129);
    text-decoration: none;
}
.sidebar ul .list-group-item a:hover {
    color: rgb(129,129,129);
    text-decoration: none;
}


.homecards .card {
    background-color:#212121 !important;
    color: rgb(119,119,119);
    border-radius:8px;
}
.card-text {
    color: rgb(119,119,119) !important;
}
.homeMovieHeader{
    color:white;
    font-size:20px;
    border-bottom:1px solid rgb(45,45,45);
    padding-bottom:5px;
}
.btn-filter {
    width: 50%;
    margin: auto;
    font-size: 16px;
    color: #ffffff;
    background-color: #E50914;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid #1c1c1c;
    transition: all 0.1s ease-in-out;
}

    .btn-filter:hover {
        background-color: #cc0913;
    }

.footer {
    background-color: #1c1c1c !important;
}

.buy_bt a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

/*card css start */
.movie-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #282828;
    border-radius: 5px;
    box-shadow: 0 0 10px #282828;
    overflow: hidden;
    background-color: #1c1c1c !important;
    color: white !important;
    text-align: center;
}

    .movie-card img {
        width: 100%;
        height: auto;
    }

.movie-info {
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .movie-info h2 {
        font-size: 23px;
        margin-bottom: 0.5em;
    }

    .movie-info .rating {
        font-size: 14px;
        font-weight: bold;
        color: #e58209;
        margin-bottom: 0.5em;
    }

    .movie-info .genres {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 1em;
    }

        .movie-info .genres li {
            display: inline-block;
            background-color: #e9232a;
            color: white;
            padding: 3px;
            border-radius: 3px;
            margin-right: 0.5em;
            font-size: 12px;
        }

    .movie-info .description {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 1em;
    }

    .movie-info .button {
        display: inline-block;
        background-color: #E50914;
        color: #fff;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }

        .movie-info .button:hover {
            background-color: #da0712;
        }


/*card css end*/

.navbar {
    height: 80px;
}

    .navbar ul li a {
        transition: background-color 0.3s ease-in-out;
        border-radius: 8px;
    }

.navbar ul li a:hover {
            background-color: #E50914;
        }

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container-donut {
    min-width: 310px;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
}
            border-radius:8px;
}
