@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1px;
    background-color: #151515;
}

    .profileImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

.seemore-btn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #e50914;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding-top: 7px;
}

    .seemore-btn a {
        text-decoration: none;
        color: white;
    }

.navbar {
    background-color: #1c1c1c !important;
    color: white !important;
}

.navbar-light {
    color: white !important;
}

    .navbar-light .navbar-brand {
        color: #e50914 !important;
        font-size: 25px !important;
        border-radius: 30px;
        padding: 8px;
    }

        .navbar-light .navbar-brand :hover {
            color: #E50914 !important;
        }

.navbar-nav li a, .navbar-nav button {
    color: white !important;
}

.nav-link {
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

.addmovie-form label {
    color: white;
}

#movieGenreSelect {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#registerSubmit {
    background-color: #E50914 !important;
}

#login-submit {
    background-color: #E50914 !important;
}

/*a {
    color: #E50914 !important;
}*/

.active {
    color: black;
}


body {
    background-color: #1c1c1c !important;
}

.sidebar {
    top: 0;
    left: 0;
    background-color: #1c1c1c !important;
    box-sizing: border-box;
}

#myCarousel {
    border: 1px solid #282828;
    border-radius: 30px;
    box-shadow: 0 0 10px #282828;
    height: 360px;
}

    #myCarousel img {
        height: 360px;
        object-fit: cover;
    }

.wTrailer {
    background-color: #e50914;
    color: white;
    transition: all 0.1s ease-in-out;
}

    .wTrailer:hover {
        background-color: #cb0913;
    }

.populerFilmDiv {
    border-radius: 8px;
    background-color: black;
}

    .populerFilmDiv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

.crsImg img, .crsImg iframe {
    border-radius: 30px;
    object-fit: contain;
}

.crsImg iframe {
    height: 360px;
}

.sidecheck {
    color: rgb(129,129,129);
    font-size: 18px;
    margin-left: 20px;
}

    .sidecheck .form-check {
        margin-bottom: 8px !important;
    }

.sidebar h5 {
    padding: 10px;
    margin-bottom: 0;
    font-size: 20px;
    border-bottom: 1px solid #2f2f2f;
}


.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-item {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1c1c1c !important;
}

.sidebar ul .list-group-item:hover {
    background-color: #282828 !important;
    cursor: pointer;
}

.sidebar ul .list-group-item a {
    color: rgb(129, 129, 129);
    text-decoration: none;
}

    .sidebar ul .list-group-item a:hover {
        color: rgb(129,129,129);
        text-decoration: none;
    }


.homecards .card {
    background-color: #212121 !important;
    color: #e4e4e4;
    border-radius: 8px;
}

.card-text {
    color: rgb(119,119,119) !important;
}

.homeMovieHeader {
    color: white;
    font-size: 20px;
    border-bottom: 1px solid rgb(45,45,45);
    padding-bottom: 5px;
}

.btn-filter {
    width: 50%;
    margin: auto;
    font-size: 16px;
    color: #ffffff;
    background-color: #E50914;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid #1c1c1c;
    transition: all 0.1s ease-in-out;
}

    .btn-filter:hover {
        background-color: #cc0913;
    }

.footer {
    background-color: #1c1c1c !important;
}

.buy_bt a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}


.navbar {
    height: 80px;
}

    .navbar ul li a {
        transition: background-color 0.3s ease-in-out;
        border-radius: 8px;
    }

        .navbar ul li a:hover {
            background-color: #E50914;
        }

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container-donut {
    min-width: 310px;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
    }

        .bootstrap-tagsinput .tag:hover {
            background-color: #c70e1f;
            cursor: pointer;
        }

.tagsinput {
    margin-bottom: 10px;
}

    .tagsinput .form-control {
        border: none;
        border-bottom: 1px solid #ced4da;
        box-shadow: none;
        border-radius: 0;
    }

#addMovieBtn {
    position: relative;
    background-color: #ff0000;
    color: #fff;
    border-color: #ff0000;
}

#form-row {
    background-color: #1f1f1f;
}

.form {
    background-color: #fff;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 320px;
}

.form-title {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
}

.form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
}

.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

    .drop-container:hover {
        background: rgba(0, 140, 255, 0.164);
        border-color: rgba(17, 17, 17, 0.616);
    }

        .drop-container:hover .drop-title {
            color: #222;
        }

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

    #file-input::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #1f1f1f;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

        #file-input::file-selector-button:hover {
            background: #e50914;
        }
@media (max-width: 991.98px) {
    .navbar-collapse {
        z-index: 5;
        background-color: #1c1c1c;
        
    }
        .navbar-collapse img {
            display: none;
        }
        .navbar-collapse .profileImage {
            display: none;
        }
}
