@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-dark">
                <div class="card-body p-5">
                    <h2 class="card-title text-center">Giriş Yapın</h2>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
                        </div>
                    </form>
                    <hr />
                    <div class="text-center">
                        <p class="card-text">
                            <a id="forgot-password" asp-page="./ForgotPassword">Parolanızı mı unuttunuz?</a>
                        </p>
                        <p class="card-text">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Yeni kullanıcı olarak kaydolun</a>
                        </p>
                        <p class="card-text">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">E-posta onayını yeniden gönderin</a>
                        </p>
                        <p class="card-text">Sosyal medya hesapları ile de giriş yapabilirsiniz:</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-outline-primary me-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="btn btn-outline-danger me-3 mx-3"><i class="fab fa-google"></i></a>
                            <a href="#" class="btn btn-outline-info"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
