@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt onayı";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Bu uygulamanın şu anda gerçek bir e-posta göndericisi kayıtlı değil, gerçek bir e-posta göndericisi nasıl yapılandırılacağına ilişkin bilgiler için <a href="https://aka.ms/aspaccountconf">bu dokümantasyona</a> bakın.
            Normalde bu e-posta yoluyla gönderilir: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı onaylamak için burayı tıklayın</a>
        </p>
    }
    else
    {
        <p>
            Üyeliğinizi tamamlamak için lütfen e-posta adresinize gönderilen aktivasyon kodunu onaylayın.
        </p>
    }
}