@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola sıfırlama onayı";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parolanız sıfırlandı. Giriş yapmak için lütfen <a asp-page="./Login">buraya tıklayın</a>.
</p>