@using Cinemagnesia.Presentation.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity
@using Cinemagnesia.Domain.Domain.Entities.Concrete;
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/ProductorPage/_ProductorLayout.cshtml";
}
@model List<GenreViewModel>

<div class="container addmovie-form">
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="Title">Film Adı:</label>
                    <input id="movieTitle" type="text" class="form-control" name="Title">
                </div>
                <div class="form-group">
                    <label>Film Açıklaması:</label>
                    <textarea id="movieDescription" class="form-control" rows="5" name="Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Filmin Çıkış Tarihi:</label>
                    <input id="movieReleaseDate" type="date" class="form-control" name="ReleaseDate">
                </div>
                <div class="form-group">
                    <label>IMDB Puanı:</label>
                    <input id="movieImdbRating" type="number" class="form-control" name="ImdbRating" step="0.1">
                </div>
                <div class="form-group">
                    <label>Fragman URL:</label>
                    <input id="movieTrailerUrl" type="url" class="form-control" name="TrailerUrl">
                </div>
                <div class="form-group">
                    <label>Yönetmenler:</label>
                    <input id="addDirectorInput" type="text" class="form-control" name="Directors"></input>
                    <button id="addDirectorBtn" class="btn btn-primary">Ekle</button>
                    <div id="addDirectorListDiv"></div>
                </div>
                <div class="form-group">
                    <label>Türler:</label>
                    <ul id="movieGenreSelect" class="list-group" name="Genres" multiple>

                      @foreach (var genre in Model)
                        {
                            <li class="list-group-item"><input type="checkbox" value = "@genre.Id" />@genre.Name</li>
                        }

                    </ul>
                </div>
                <div class="form-group">
                    <label>Oyuncular:</label>
                    <input id="addCastMemberInput" type="text" class="form-control" name="CastMembers"></input>
                    <button id="addCastMemberBtn" class="btn btn-primary">Ekle</button>
                    <div id="addCastMemberListDiv"></div>
                </div>
                <div class="form-group">
                    <label>Film Süresi:</label>
                    <input id="movieMinutes" type="number" class="form-control" name="MovieMinutes">
                </div>
                <div class="form-group">
                    <label>Filmin Orjinal Dili:</label>
                    <select id="movieLanguage"class="form-control" name="Language">
                        <option class="form-control" value="Türkçe">Türkçe</option>
                        <option class="form-control" value="İngilizce">İngilizce</option>
                        <option class="form-control" value="Almanca">Almanca</option>
                        <option class="form-control" value="İspanyolca">İspanyolca</option>
                        <option class="form-control" value="Hintçe">Hintçe</option>
                        <option class="form-control" value="Rusça">Rusça</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Film Kapağının PathURL:</label>
                    <form id="form1" runat="server">
    <input type='file' id="file-input" />
    <div id='img_contain'>
      <img id="image-preview" width="75px" height="75px" align='middle'src="https://picsum.photos/id/237/200/300" alt="your image" title=''/>
    </div>
  </form>
                </div>
                <div class="form-group">
                    <input type="hidden" id="companyId" name="companyId" value="@UserManager.GetUserAsync(User).Result.CompanyId" />
                    
                </div>

                <button id="addMovieBtn" type="submit" class="btn btn-primary">Film Ekle</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>IMDB Movie ID:</label>
                <input type="text" class="form-control" id="imdb-movie-id">
            </div>

            <button class="btn btn-primary" id="fetch-movie-btn">Film Bilgilerini Çek</button>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function(){

            
            var selectedGenres = [];
            var addCastMemberList= [];
            var addDirectorList = [];
            var poster;
            //director list start
            $("#addDirectorBtn").click(function(){
                var director = $("#addDirectorInput").val();
                var newDirector = { name: director, index: addDirectorList.length }; // yeni yönetici nesnesi oluştur
                addDirectorList.push(newDirector);

                var addDirectorListDiv = $("#addDirectorListDiv");
                addDirectorListDiv.find("ul").remove(); // önceki sıralı listeyi kaldır

                addDirectorListDiv.append("<ul></ul>");

                $.each(addDirectorList, function(index, value) {
                    var li = $("<li>" + value.name + " <a class='remove-director' data-director-index='" + value.index + "'><i class='fa-solid fa-trash' style='color: #9B4E4E;'></i></a></li>");
                    addDirectorListDiv.find("ul").append(li);
                });

                addDirectorListDiv.find(".remove-director").click(function() {
                    var directorIndex = $(this).data("director-index");
                    var index = addDirectorList.findIndex(function(director) {
                            return director.index === directorIndex;
                    });
                    if (index > -1) {
                        addDirectorList.splice(index, 1);
                    }
                    $(this).parent().remove();
                });

            });

            //Direktör Listeye ekleme end

            //Oyuncu Listeye ekleme start
           $("#addCastMemberBtn").click(function(){
                var castMember = $("#addCastMemberInput").val();
                var newCastMember = { name: castMember, index: addCastMemberList.length }; // yeni oyuncu nesnesi oluştur
                addCastMemberList.push(newCastMember);

                var addCastMemberListDiv = $("#addCastMemberListDiv");
                addCastMemberListDiv.find("ul").remove(); // önceki sıralı listeyi kaldır

                addCastMemberListDiv.append("<ul></ul>");

                $.each(addCastMemberList, function(index, value) {
                    var li = $("<li>" + value.name + " <a class='remove-cast-member' data-cast-member-index='" + value.index + "'><i class='fa-solid fa-trash' style='color: #9B4E4E;'></i></a></li>");
                    addCastMemberListDiv.find("ul").append(li);
                });

                addCastMemberListDiv.find(".remove-cast-member").click(function() {
                    var castMemberIndex = $(this).data("cast-member-index");
                    var index = addCastMemberList.findIndex(function(castMember) {
                        return castMember.index === castMemberIndex;
                    });
                    if (index > -1) {
                        addCastMemberList.splice(index, 1);
                    }
                    $(this).parent().remove();
                });
            });

            //Oyuncu Listeye ekleme end


            //img 

                 function readURL(input) {
                        if (input.files && input.files[0]) {
                              var reader = new FileReader();
                               reader.onload = function(e) {

                                  poster= input.files[0];
                      $('#image-preview').attr('src', e.target.result);
                      $('#image-preview').hide();
                      $('#image-preview').fadeIn(650);
                    }
                            reader.readAsDataURL(input.files[0]);
                           
                          }
                        }

                $("#file-input").change(function() {
                  readURL(this);
                });


            //img

            // film ekleme start


            $("#addMovieBtn").click(function(){
                var movieTitle = $("#movieTitle").val();
                var movieDescription = $("#movieDescription").val();
                var movieReleaseDate = $("#movieReleaseDate").val();
                var movieImdbRating = $("#movieImdbRating").val();
                var movieTrailerUrl = $("#movieTrailerUrl").val();
                var movieMinutes = $("#movieMinutes").val();
                var movieLanguage = $("#movieLanguage").val();
                var companyId = $("#companyId").val();
                     $('#movieGenreSelect input[type=checkbox]').each(function () {

                    if (this.checked) {
                        selectedGenres.push({ id: $(this).val(), name: $(this).parent().text().trim() });
                    }
                });
               
                var movie = {
                        companyId : companyId,
                        title: movieTitle,
                        description: movieDescription,
                        posterPath: poster,
                        releaseDate: movieReleaseDate,
                        imdbRating: movieImdbRating,
                        trailerUrl: movieTrailerUrl,
                        directors: addDirectorList,
                        genres: selectedGenres,
                        castMembers: addCastMemberList,
                        movieMinute: movieMinutes,
                        language: movieLanguage,
                };
                
                console.log(movie);
               //console.log(movie);
                // post movie
                var formData = new FormData();
                formData.append("poster", movie.posterPath);
                formData.append("companyId", movie.companyId);
                formData.append("title", movie.title);
                formData.append("description", movie.description);
                formData.append("releaseDate", movie.releaseDate);
                formData.append("imdbRating", movie.imdbRating);
                formData.append("trailerUrl", movie.trailerUrl);
                formData.append("directors", JSON.stringify(movie.directors));
                formData.append("genres", JSON.stringify(movie.genres));
                formData.append("castMembers", JSON.stringify(movie.castMembers));
                formData.append("movieMinute", movie.movieMinute);
                formData.append("language", movie.language);

                $.ajax({
                    url: '/Movie/AddMovie',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.log('Bir hata oluştu. Hata kodu: ' + xhr.status);
                    }
                });

                // post movie end
            })

            //film ekleme end
        })
    </script>
}

