@page
@model EmailModel
@{
    ViewData["Title"] = "Email'ını Yönet";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card p-4">
            <div class="card-body">
                <h5 class="border-bottom py-3">Email</h5>
                <form id="email-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Email" class="form-control" disabled />
                                <div class="input-group-append">
                                    <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input asp-for="Email" class="form-control" disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Aktivasyon mesajını gönder</button>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <label asp-for="Input.NewEmail" class="form-label"></label>
                        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-primary">Email Değiştir</button>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
