@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel Bilgiler";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card p-3  personaldata">
            <div class="card-body">
                 <h5 class="border-bottom py-3">Kişisel Bilgiler</h5>
                <p>Hesabınız, bize vermiş olduğunuz kişisel verileri içermektedir. Bu sayfa, bu verileri indirme veya silme seçeneği sunar.</p>
                <p><strong>Bu verileri silmek, hesabınızı kalıcı olarak kaldıracak ve geri alınamayacaktır.</strong></p>
                <div class="d-flex justify-content-end align-items-center">
                    <form id="download-data" asp-page="DownloadPersonalData" method="post">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-cloud-arrow-down-fill me-2"></i>İndir
                        </button>
                    </form>
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">
                        <i class="bi bi-trash-fill me-2"></i>Sil
                    </a>
                </div>
            </div>
         
</div>
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
