@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Productor Page";
	ViewData["ActivePage"] = ManageNavPages.ProductorRequest;
}

<h3>@ViewData["Title"]</h3>
@if (Model.User.IsInRole("User"))
{
	<p>Henüz bir yapımcı değilsiniz. Eğer bir yapımcı olma başvurusunda bulunmak istiyorsanız <a href="öteki sayfaya giden bir link">buraya tıklayın</a>.</p>
}
else if (Model.User.IsInRole("Producer"))
{
	<p>Hoşgeldiniz, yapımcı! </p>
	<p>Film ekleme/ayarlama sayfası için <a href="başka bir sayfaya giden bir link">buraya tıklayın</a>.</p>
}
else if (Model.User.IsInRole("Admin"))
{
	<p>Hoşgeldiniz, Admin reis fakat siz yapımcı olamazsınız! </p>
}
else
{
	<p>Hoşgeldiniz, yapımcı! </p>
	<p>Film ekleme/ayarlama sayfası için <a href="başka bir sayfaya giden bir link">buraya tıklayın</a>.</p>
}
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}