@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Authenticator Anahtarını Sıfırla";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p class ="text-dark">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Eğer doğrulayıcı anahtarınızı sıfırlarsanız, doğrulayıcı uygulamanız yeniden yapılandırılana kadar çalışmayacaktır.</strong>
    </p>
    <p class="text-dark">
        Bu işlem, doğrulayıcı uygulamanızı doğrulayana kadar 2FA'yı devre dışı bırakır.
        Doğrulayıcı uygulamanızı yapılandırmayı tamamlamazsanız hesabınıza erişimi kaybedebilirsiniz.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Doğrulayıcı anahtarını sıfırla</button>
    </form>
</div>
