@*@model List<Cinemagnesia.Presentation.Areas.Admin.Models.GenreViewModel>*@
@{

}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-users"></i>
                    <h5>Toplam Kullanıcı Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfUsers"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-building"></i>
                    <h5>Yapım Şirketi Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfCompanies"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-people-roof"></i>
                    <h5>Toplam Yapımcı Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfApprovedProductors"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-people-roof"></i>
                    <h5>Yönetmen Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfDirectors"></h1>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-film"></i>
                    <h5> Toplam Film Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfMovies"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-comment"></i>
                    <h5>Toplam Yorum Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="numOfMovieComments"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-star"></i>
                    <h5>En Beğenilen Film</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="mostRatedMovie">Leon</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa-solid fa-star"></i>
                    <h5>En Beğenilen Kategori</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="mostRatedGenre">Komedi</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    Bu grafik eklenen filmlerdeki kategorilerin dağılışını göstermektedir.
                </p>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure class="highcharts-figure">
                <div id="container-donut"></div>
                <p class="highcharts-description">
                    Bu grafik eklenen filmlerdeki dillerin dağılışını göstermektedir.
                </p>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <figure class="highcharts-figure">
                <div id="movieRatings">
                </div>
                <p class="highcharts-description">
                    Bu grafik en beğenilen filmleri göstermektedir.
                </p>
            </figure>
        </div>
        <div class="col-lg-6">
            <figure class="highcharts-figure">
                <div id="genreRatings">
                </div>
                <p class="highcharts-description">
                    Bu grafik en beğenilen film türlerini göstermektedir.
                </p>
            </figure>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Son Eklenen Filmler</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                            <tr>

                                <th data-toggle="true">Film</th>
                                <th>Film Kategorisi</th>
                                <th>Çıkış Tarihi</th>
                                <th>Orijinal Dil</th>
                                <th>Film Süresi</th>
                                <th data-hide="all">Şirket</th>
                                <th data-hide="all">Yönetmenler</th>
                                <th data-hide="all">Oyuncu Kadrosu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Leon</td>
                                <td>Aksiyon</td>
                                <td>1995</td>
                                <td>İngilizce</td>
                                <td><span class="pie">160 dk</span></td>
                                <td>Legend Film</td>
                                <td>Luc Besson</td>
                                <td>Jean Reno, Natalie Portman</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <environment names="Development,Staging,Production">
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        var list = [];
        $(document).ready(function () {
            $.ajax({
                url: '/Movie/MovieRankings',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var seriesData = [];

                    for (var i = 0; i < data.length; i++) {
                        var movie = data[i];
                        var name = movie.title;
                        var score = parseFloat(movie.cinemagnesiaAvgScore);

                        seriesData.push({
                            name: name,
                            y: score,
                            drilldown: null
                        });
                    }

                    // Render the chart
                    Highcharts.chart('movieRatings', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            align: 'left',
                            text: 'En Yüksek Puanlı Alan Film'
                        },
                        subtitle: {
                            align: 'left',
                            text: 'Cinemagnesia verilerine göre düzenlenmiştir.'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Aldığı Yıldız'
                            }
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y:.2f} Puan',
                                    style: {
                                        textOutline: false
                                    }
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> yıldıza sahip<br/>'
                        },
                        series: [{
                            name: 'Filmler',
                            colorByPoint: true,
                            data: seriesData
                        }]
                    });
                },
                error: function () {
                    // Handle the error
                    console.log('An error occurred while fetching the movie ranking data.');
                }
            });

            $.ajax({
                url: '/Genre/GenreRankings',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var seriesData = []; for (var i = 0; i < data.length; i++) {
                        var genre = data[i];
                        var name = genre.name;
                        var score = genre.score;

                        seriesData.push({
                            name: name,
                            y: score,
                            drilldown: null
                        });
                    }

                    // Render the chart
                    Highcharts.chart('genreRatings', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            align: 'left',
                            text: 'En Yüksek Puanı Alan Tür'
                        },
                        subtitle: {
                            align: 'left',
                            text: 'Cinemagnesia verilerine göre düzenlenmiştir.'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Aldığı Yıldız'
                            }
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y:.2f} Puan',
                                    style: {
                                        textOutline: false
                                    }
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> yıldıza sahip<br/>'
                        },
                        series: [{
                            name: 'Türler',
                            colorByPoint: true,
                            data: seriesData
                        }]
                    });
                },
                error: function () {
                    // Handle the error
                    console.log('An error occurred while fetching the genre ranking data.');
                }
            });


            $.get("/Admin/Statistic/GetNumOfUsers", function (data) {
                $("#numOfUsers").html(data)
            });

            $.get("/ProductorRequest/GetNumOfApprovedProductors", function (data) {
                $("#numOfApprovedProductors").html(data)
            });

            $.get("/Company/GetNumOfCompanies", function (data) {
                $("#numOfCompanies").html(data)
            });

            $.get("/Director/GetNumOfDirectors", function (data) {
                $("#numOfDirectors").html(data)
            });

            $.get("/Movie/GetNumOfActiveMovies", function (data) {
                $("#numOfMovies").html(data)
            });

            $.get("/MovieComment/GetNumOfMovieComments", function (data) {
                $("#numOfMovieComments").html(data)
            });
            
            $.get("/Movie/GetMostRatedMovie", function (data) {
                $("#mostRatedMovie").html(data)
            });

            $.get("/Genre/GetMostRatedGenre", function (data) {
                $("#mostRatedGenre").html(data)
            });


            $.get("/Admin/Statistic/GetStatisticOfGenre", function (data) {
                $.each(data, function (index, genre) {
                    if (genre.count != 0) {
                        let dataItem = { name: genre.name, y: genre.count }
                        list.push(dataItem);
                    }

                })
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: false,
                    title: {
                        text: 'Film Kategorileri',
                        align: 'left'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: {y}'
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Kategori',
                        colorByPoint: true,
                        data: list
                    }]
                });


            });

            var languageList = [];
            $.get("Admin/Statistic/GetLanguageStatistics", function (data) {
                $.each(data, function (index, language) {
                    if (language.count != 0) {
                        let dataItem = { name: language.name, y: language.count }
                        languageList.push(dataItem);
                    }
                })
                Highcharts.chart('container-donut', {
                    chart: {
                        type: 'pie'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    credits: false,
                    title: {
                        text: 'Film Dilleri',
                        align: 'left'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f} ½</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: {y}'
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Registrations',
                        colorByPoint: true,
                        innerSize: '75%',
                        data: languageList
                    }]
                });
            });

        });

        console.log(list);





        $('.footable').footable();

    </script>
}



@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

