@model List<Cinemagnesia.Presentation.Areas.Admin.Models.GenreNameViewModel>
@{
    ViewData["Title"] = "Charjs";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="border-radius: 10px; border: 3px solid #003366; box-shadow: 0px 2px 5px #003366;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px;">Kullanıcı Sayısı <i class="fa-solid fa-users"></i></h5>
                    <p class="card-text" style="font-size: 18px; color: #003366; font-weight: bold;">38</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="border-radius: 10px; border: 3px solid #003366; box-shadow: 0px 2px 5px #003366;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px;">Film Sayısı <i class="fa-solid fa-film"></i> </h5>
                    <p class="card-text" style="font-size: 18px; color: #003366; font-weight: bold;">254</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="border-radius: 10px; border: 3px solid #003366; box-shadow: 0px 2px 5px #003366;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px;">Yorum Sayısı <i class="fa-solid fa-comment"></i></h5>
                    <p class="card-text" style="font-size: 18px; color: #003366; font-weight: bold;">28</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="border-radius: 10px; border: 3px solid #003366; box-shadow: 0px 2px 5px #003366;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px;">En Çok Beğenilen <i class="fa-solid fa-star"></i></h5>
                    <p class="card-text" style="font-size: 18px; color: #003366; font-weight: bold;">Leon</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Film Türleri</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="doughnutChart" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Bar Chart Example</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="barChart" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/lib/chartJs/Chart.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            var doughnutData = {
                labels: @foreach (var item in Model)
        {
            @item.Name
        },
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#b5b8cf"]
                }]
            };
            var doughnutOptions = {
                responsive: true
            };
            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });



            //if (Json.Serialize(Model) != "null") {
            //    var barData = {
            //        labels: Html.Raw(Json.Serialize(Model.Name)),
            //        datasets: [
            //            {
            //                label: "Model.Name",
            //                backgroundColor: 'rgba(220, 220, 220, 0.5)',
            //                pointBorderColor: "#fff",
            //                data: Html.Raw(Json.Serialize(Model.Name))
            //                                        }
            //        ]
            //    };
            //}


            var barOptions = {
                responsive: true
            };


            var ctx2 = document.getElementById("barChart").getContext("2d");
            new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });

        });
    </script>
}
