@using Cinemagnesia.Presentation.Areas.Admin.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GenreViewModel>



<div class="container-fluid">

   <div class="row">
       <div class="col-lg-3 col-md-3">
            <div class="list-group sidebar ">
                <h5 class=" text-white"><i class="fa-solid fa-ellipsis"></i></i> Kategoriler </h5>
                <div class="list-group-item sidecheck">
                    @foreach (var genre in Model)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@genre.Name" id="@genre.Id" />
                            <label class="form-check-label" for="genre.Id">
                                @genre.Name
                            </label>
                        </div>
                    }
                   
                   
                </div>
                <h5 class="  text-white"><i class="fa-solid fa-heart"></i> En Yüksek Puanlılar </h5>
                <div class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item"><a>Deadpool</a></li>
                        <li class="list-group-item"><a>Piyanist</a></li>
                        <li class="list-group-item"><a>Yenilmezler</a></li>
                    </ul>



                </div>
                <h5 class=" text-white"><i class="fa-solid fa-comment"></i> En Çok Yorumlananlar </h5>
                <div class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item"><a>Deadpool</a></li>
                        <li class="list-group-item"><a>Piyanist</a></li>
                        <li class="list-group-item"><a>Yenilmezler</a></li>
                    </ul>
                </div>
            </div>
       
       </div>
       <div class="col-lg-9 col-md-9">
            <div class="row">
                <div class="col-lg-12 ">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active crsImg">
                                <img src="~/images/Cinemagnesia/avengers.jpg" class="d-block w-100" alt="Slide 1">
                            </div>
                            <div class="carousel-item crsImg">
                                <img src="~/images/Cinemagnesia/familyguy.jpg" class="d-block w-100" alt="Slide 2">
                            </div>
                            <div class="carousel-item crsImg">
                                <img src="~/images/Cinemagnesia/starwars1.jpg" class="d-block w-100" alt="Slide 3">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 ">
                    <div class="row">
                        <div class="col-lg-12"> 
                            <h4 class="homeMovieHeader">Popüler Filmler</h4>
                        </div>
                    </div>
                    <div class="row homecards">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card 1</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card 2</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card 3</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card 4</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 px-0">
                    @RenderBody();
                </div>
            </div>
       </div>
   </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script src="~/js/homeMovie.js"></script>