@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/css/homeMovie.css" />


<!-- banner section start -->

    <div class="container-fluid">
        <div class="product_section_2 layout_padding">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="homeMovieHeader" id="listedmovieheader">Filmler</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                @Html.Partial("_MoviesPartial.cshtml")
                </div>
            </div>
            
            <div class="seemore-btn"><a href="#"> Başa Dön </a></div>
        </div>
    </div>

<!-- product section end -->




