@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<!-- banner section start -->

<div class="product_section layout_padding pt-0">
    <div class="container">
        <div class="product_section_2 layout_padding">
            <div class="row mb-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movie-card hidden">
                        <img src="~/images/Cinemagnesia/deadpool.png" alt="Deadpool 2 Poster">
                        <div class="movie-info">
                            <h2>Deadpool 2</h2>
                            <p class="rating">IMDb Rating: 7.7</p>
                            <ul class="genres">
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                            </ul>
                            <p class="description">Foul-mouthed mutant...</p>
                            <a href="#" class="button">Watch Trailer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a href="#"> Başa Dön </a></div>
        </div>
    </div>
</div>
<!-- product section end -->

